@model CarStore.Models.Car
<h2>Добави нова кола</h2>
<form method="post">
    <label>Марка:</label> <input type="text" name="Brand" required /><br />
    <label>Модел:</label> <input type="text" name="Model" required /><br />
    <label>Година:</label> <input type="number" name="Year" required /><br />
    <button type="submit">Запази</button>
</form>
<a href="/Car/Index">Назад</a>